.button-offer-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid black;
    transition: .5s;
}

.button-offer-wrapper:hover{
    background-color: #444444;
}
.button-offer-wrapper:active{
    background-color: #444444;
}

.button-offer-wrapper:hover .open-sans-text--text-button{
    color: #fff;
}

.button-offer-wrapper:active .open-sans-text--text-button{
    color: #fff;
    opacity: 0.3;
}

@media (max-width: 767px) {
    .button-offer-wrapper{
        height: 50px;
        width:100%;
    }
}
@media (min-width: 768px) {
    .button-offer-wrapper{
        height: 50px;
        width:583px;
    }
}
@media (min-width: 1200px) {
    .button-offer-wrapper{
        height: 50px;
        width:230px;
    }
}