.bold-additional-paragraph{
    font-size: 14px;
    font-family: "Verdana-Bold";
    color: rgb(0, 0, 0);
    line-height: 1.714;
    opacity: 1;
    transition: .2s;
    cursor: pointer;
}
  
.bold-additional-paragraph:hover{
    opacity: 0.6;
}

.bold-additional-paragraph:hover{
    opacity: 0.4;
}