.button-variable-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid black;
    transition: .5s;
}

.button-variable-wrapper:hover{
    background-color: #444444;
}
.button-variable-wrapper:active{
    background-color: #444444;
}

.button-variable-wrapper:hover .text-button{
    color: #fff;
}

.button-variable-wrapper:active .text-button{
    color: #fff;
    opacity: 0.3;
}