.form-text-input-field-wrapper{
    display: flex;
    flex-grow: 0.5;
}

.form-text-input-field__label{
    display: flex;
    margin-right: 20px;
    align-items: center;
}

.form-text-input-field__field {
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: none;
    padding: 0 7px 0 15px;
    flex-grow: 1;
    transition: .2s;
}

.form-text-input-field-wrapper--no-margin-top {
    margin-top: 0!important;
}

@media (max-width: 767px) {
    .form-text-input-field-wrapper{
        flex-direction: column;
        height: 65px;
        margin-top: 20px;
    }
    .form-text-input-field__field {
        padding: 5px 5px 0 0;
    }
}

@media (min-width: 768px) {
    .form-text-input-field-wrapper{
        height: 55px;
        margin-top: 50px;
    }
}

@media (min-width: 900px) {
    .form-text-input-field-wrapper{
        height: 55px;
        margin-top: 50px;
    }
}

@media (min-width: 1200px) {
    .form-text-input-field-wrapper{
        height: 55px;
        margin-top: 50px;
    }
}

.form-text-input-field__field:hover{
    border-bottom: 2px solid #62D1BA;
    cursor: pointer;
}

.form-text-input-field__field--no-border-bottom{
    border-bottom: none!important;
}

.form-text-input-field__field--active{
    border-bottom: 2px solid #62D1BA;
}

.form-text-input-field__field--error{
    border-bottom: 2px solid #F0B1B1;
}

.form-text-input-field__field--no-padding{
    padding:0;
}


