
@media (max-width: 767px) {    
    .main-wrapper{
      width:100%;
    }
  }

  @media (min-width: 768px) {
    .main-wrapper{
        width:100%;
    }
  }

  @media (min-width: 1200px) {
    .main-wrapper{
        width:1200px;
        display: flex;
        flex-direction: column;
    }
  }