.order-page-wrapper,
.order-page-container,
.order-page-radio-container,
.radio-container__title,
.radio-container__buttons,
.order-page-check-container,
.check-container__title,
.check-container__buttons,
.order-page-name-container,
.order-page-name-container__title,
.order-page-name-container__fields,
.contact-fields-first-field,
.contact-fields-second-field,
.contact-fields-first-field__title,
.contact-fields-second-field__title,
.order-page-textarea-container,
.order-page-textarea-container__title,
.order-page-textarea-container__fields,
.order-page-send-container
{
    display: flex; 
}

.radio-container__title,
.check-container__title {
    align-items: flex-start;
}

.order-page-wrapper{
    justify-content: center;
}

.order-page-container{
    flex-direction: column;
}

.contact-fields-first-field,
.contact-fields-second-field{
    width: 100%;
}

.contact-fields-second-field__title{
    padding-bottom: 65px;
}

.contact-fields-first-field__fields,
.contact-fields-second-field__fields{
    flex-grow: 0.48;
}

.order-page-contact-container{
    background-color: #F1F1F1;
}

.order-page-contact-container,
.order-page-check-container {
    position: relative;
}

.background-grey-container {
    position: absolute;
    top: 0;
    z-index: -1;
    background-color: #F1F1F1;
    left: -300%;
    width: 1000%;
}

.background-grey-container__contact-container {
    height: 285px;
}

.background-grey-container__check-container {
    
}

.background-grey-container__check-container--big {
    height: 248px;
}

.background-grey-container__check-container--middle {
    height: 318px;
} 

@media (max-width: 767px) {
    .order-page-container{
        width:80%;
        align-self: center;
    }
    
    .order-page__text{
        margin-top: 90px;
        align-self: center;
        width: 100%;
    }

    .order-page-radio-container{
        flex-direction: column;
    }
    
    .radio-container__title{
        width: 100%;
        margin: 30px;
        align-self: center;
        display: flex;
        align-items: center;
    }

    .radio-container__title::after,
    .check-container__title::after,
    .order-page-name-container__title::after,
    .contact-fields-first-field__title::after,
    .contact-fields-second-field__title::after,
    .order-page-textarea-container__title::after {
        content: "";
        -ms-flex: 1;
        flex: 1;
        height: 1px;
        margin-left: 20px;
        background-color: #63d1bb;
        -webkit-box-flex: 1;
    }
    
    .radio-container__buttons{
        flex-direction: column;
        justify-content: space-around;
    }

    .order-page-check-container{
        flex-direction: column;
    }

    .check-container__title{
        width: 100%;
        margin: 30px;
        padding-bottom: 10px;
        align-self: center;
        display: flex;
        align-items: center;
    }

    .check-container__buttons{
        width: 100%;
        height: 500px;
    }

    .buttons-small-column{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
    }

    .order-page-name-container{
        flex-direction: column;
    }

    .order-page-name-container__title{
        width: 100%;
        margin: 30px 30px 10px 30px;
        align-self: center;
        display: flex;
        align-items: center;
    }

    .order-page-name-container__fields{
        height: 280px;
        display: flex;
        flex-direction: column;
        flex-grow: 0.7;
    }

    .order-page-contact-container{
        width: 100%;
        margin-top: 10px;
        background-color: #fff;
    }

    .contact-fields-first-field,
    .contact-fields-second-field{
        flex-direction: column;
        flex-grow: 0.5;
        
    }

    .contact-fields-first-field__title,
    .contact-fields-second-field__title{
        width: 100%;
        align-self: center;
        display: flex;
        align-items: center;
        padding: 20px 0 0 0 ;
    }

    .contact-fields-first-field__fields,
    .contact-fields-second-field__fields{
        flex-grow: 0.68;
    }

    .order-page-textarea-container{
        flex-direction: column;
        height: 250px;
    }

    .order-page-textarea-container__title{
        width: 100%;
        align-self: center;
        display: flex;
        align-items: center;
        padding: 30px 0 30px 0;
    }

    .order-page-textarea-container__fields{
        flex-grow: 1!important;
    }

    .order-page-send-container{
        margin: 50px 0;
        padding: 0!important;
    }

    .contact-fields-second-field__title{
        margin-top: 15px;
    }
}  

@media (min-width: 768px) {
    .order-page-container{
        align-self: center;
        width: 93%;
    }

    .order-page__text{
        margin-top: 90px;
        width: 100%;
    }

    .order-page-radio-container{
        height: 150px;
        padding: 50px 0;
    }
    
    .radio-container__title{
        width: 170px;
        padding-top: 30px;
        justify-content: flex-start;
    }
    
    .radio-container__buttons{
        flex-direction: column;
        justify-content: space-around;
    }

    .order-page-check-container{
        padding: 60px 0;
    }

    .order-page-check-container{
       background-color: #F1F1F1;
    }

    .check-container__title{
        width: 170px;
        padding-top: 20px;
        justify-content: flex-start;
    }
    
    .check-container__buttons{
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 63%;
    }

    .buttons-mid-first-column,
    .buttons-mid-second-column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 200px;
    }

    .order-page-name-container{
        height: 200px;
    }

    .order-page-name-container__title{
        width: 170px;
        padding-top: 20px;
        justify-content: flex-start;
    }

    .order-page-name-container{
        height: 280px;
        margin-bottom: 60px;
    }
    
    .order-page-name-container__title{
        width: 170px;
        padding-top: 60px;
        justify-content: flex-start;
    }

    .order-page-name-container__fields{
        display: flex;
        flex-direction: column;
        flex-grow: 0.58;
    }

    .contact-fields-first-field,
    .contact-fields-second-field{
        width: 100%;
        margin-bottom: 30px;
    }

    .contact-fields-first-field__title,
    .contact-fields-second-field__title{
        width: 170px;
        padding-top: 20px;
        justify-content: flex-start;
    }

    .contact-fields-first-field__fields,
    .contact-fields-second-field__fields{
        flex-grow: 0.82;
    }

    .order-page-textarea-container{
        width:100%;
        height: 150px;
    }

    .order-page-textarea-container__title{
        width: 170px;
        padding-top: 73px;
        justify-content: flex-start;
    }

    .order-page-textarea-container__fields{
        flex-grow: 0.83;
    }

    .order-page-send-container{
        margin: 50px 0;
        padding-right: 4.5%;
        padding-left: 170px;
        justify-content: space-between;
        align-items: center;
    }

    .order-page-contact-container{
        margin-bottom: 60px;
        padding-top: 60px;
    }
}

@media (min-width: 790px) and (max-width: 799px) {
    .contact-fields-first-field__fields,
    .contact-fields-second-field__fields,
    .order-page-textarea-container__fields{
        flex-grow: 0.87;
    }

    .order-page-send-container{
        padding-right: 5%;
        padding-left: 170px;
    }

    .contact-fields-first-field,
    .contact-fields-second-field {
        margin-top: 40px;
    }

    .contact-fields-first-field__title,
    .contact-fields-second-field__title{
        width: 185px;
        padding-top: 20px;
        justify-content: flex-start;
    }

    .order-page-contact-container{
        padding-bottom: 10px;
        margin-bottom: 60px;
        padding-top: 10px;
    }
    
}

@media (min-width: 800px) and (max-width: 899px) {
    .order-page-send-container{
        padding-right: 7%;
        padding-left: 170px;
    }

    .order-page-name-container__fields{
        display: flex;
        flex-direction: column;
        flex-grow: 0.7;
    }

    .contact-fields-first-field,
    .contact-fields-second-field {
        margin-top: 40px;
    }

    .contact-fields-first-field__title,
    .contact-fields-second-field__title{
        width: 185px;
        padding-top: 20px;
        justify-content: flex-start;
    }

    .order-page-contact-container{
        padding-bottom: 10px;
        margin-bottom: 60px;
        padding-top: 10px;
    }
}

@media (min-width: 900px) and (max-width: 999px) {
    .order-page-container{
        align-self: center;
        width: 95%;
    }

    .radio-container__title{
        width: 160px;
        padding-top: 30px;
        justify-content: flex-start;
    }

    .order-page-radio-container{
        padding: 50px 0;
    }

    .order-page-check-container{
        padding: 60px 0;
        background-color: #F1F1F1;
    }

    .check-container__title{
        width: 160px;
        padding-top: 20px;
        justify-content: flex-start;
    }

    .check-container__buttons{
        width: 70%;
    }

    .order-page-name-container{
        height: 200px;
    }

    .order-page-name-container{
        height: 280px;
    }

    .order-page-name-container__title{
        width: 160px;
        padding-top: 63px;
        justify-content: flex-start;
    }

    .order-page-name-container__fields{
        display: flex;
        flex-direction: column;
        flex-grow: 0.7;
    }

    .contact-fields-first-field,
    .contact-fields-second-field{
        width: 100%;
        
    }

    .contact-fields-first-field__title,
    .contact-fields-second-field__title{
        width: 160px;
        padding-top: 63px;
        justify-content: flex-start;
    }
    .contact-fields-first-field__fields,
    .contact-fields-second-field__fields{
        flex-grow: 0.8;
    }

    .order-page-textarea-container{
        width:100%;
        height: 150px;
    }
    .order-page-textarea-container__title{
        width: 160px;
        padding-top: 63px;
        justify-content: flex-start;
    }

    .order-page-textarea-container__fields{
        flex-grow: 0.81;
    }

    .order-page-send-container{
        padding-right: 9%;
        padding-left: 160px;
        justify-content: space-between;
        align-items: center;
    }

    .order-page-contact-container{
        padding-bottom: 10px;
    }

    .contact-fields-first-field,
    .contact-fields-second-field {
        margin-top: 40px;
    }

    .contact-fields-first-field__title,
    .contact-fields-second-field__title{
        width: 160px;
        padding-top: 20px;
        justify-content: flex-start;
    }

    .order-page-contact-container{
        padding-bottom: 10px;
        margin-bottom: 60px;
        padding-top: 10px;
    }
}

@media (min-width: 1000px) and (max-width: 1199px) {
    .contact-fields-first-field__fields,
    .contact-fields-second-field__fields{
        flex-grow: 0.78;
    }

    .order-page-send-container{
        padding-right: 12%;
        padding-left: 170px;
    }

    .contact-fields-first-field,
    .contact-fields-second-field {
        margin-top: 40px;
    }

    .contact-fields-first-field__title,
    .contact-fields-second-field__title{
        width: 170px;
        padding-top: 20px;
        justify-content: flex-start;
    }

    .order-page-contact-container{
        padding-bottom: 10px;
        margin-bottom: 60px;
        padding-top: 10px;
    }

    .order-page-name-container{
        margin-bottom: 60px;
    }

    .order-page-name-container__fields{
        display: flex;
        flex-direction: column;
        flex-grow: 0.69;
    }

    .order-page-textarea-container__fields{
        flex-grow: 0.79;
    }
}

@media (min-width: 1200px) {
    .order-page-wrapper{
        width: 93%;
        align-self: center;
    }

    .order-page-container{
        align-self: center;
        width: 100%;
        padding-left: 70px;
    }
    .order-page__text{
        margin-top: 130px;
        align-self: center;
        width: 670px;
    }

    .order-page-radio-container{
        height: 150px;
        padding: 50px 0;
    }
    
    .radio-container__title{
        width: 185px;
        padding-top: 30px;
        justify-content: center;
    }
    
    .radio-container__buttons{
        flex-direction: column;
        justify-content: space-around;
    }

    .order-page-check-container{
        height: 250px;
        padding: 0;
        background-color: #F1F1F1
    }
    
    .check-container__title{
        width: 185px;
        padding-top: 80px;
        justify-content: center;
    }
    
    .check-container__buttons{
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        width: auto;
    }

    .buttons-big-first-column,
    .buttons-big-second-column,
    .buttons-big-third-column {
        height: 130px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 50px;
    }

    .order-page-name-container{
        height: 290px;
        margin-bottom: 60px;
    }
    .order-page-name-container__title{
        width: 185px;
        padding-top: 65px;
        justify-content: center;
    }
    .order-page-name-container__fields{
        display: flex;
        flex-direction: column;
        flex-grow: 0.58;
    }

    .contact-fields-first-field,
    .contact-fields-second-field{
        margin-top: 40px;
        width: 100%;
    }

    .contact-fields-first-field__title,
    .contact-fields-second-field__title{
        width: 185px;
        padding-top: 20px;
        justify-content: center;
    }
    .contact-fields-first-field__fields,
    .contact-fields-second-field__fields{
        flex-grow: 0.69;
    }

    .order-page-textarea-container{
        width:100%;
        height: 150px;
        margin-top: 60px;
    }

    .order-page-textarea-container__title{
        width: 185px;
        padding-top: 65px;
        justify-content: center;
    }

    .order-page-textarea-container__fields{
        max-width: 685px;
    }

    .order-page-send-container{
        padding:0 175px 0 185px;
        justify-content: space-between;
        align-items: center;
    }

    .order-page-contact-container{
        padding-bottom: 10px;
        padding-top: 10px;
    }
}