.footer-container{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.footer-container__special-background{
    position: absolute;
    top: 0;
    left: -70%;
    width: 250%;
    height: 100%;
    background-color: #F1F1F1;
    z-index: -1;
}

.footer-container__logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container__footer-icon-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-container__academy-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: .2s;
    cursor: pointer;
}

.footer-container__academy-container:active{
    opacity: 0.5;
}

@media (max-width: 767px) {
    .footer-container{
        flex-direction: column;
        align-items: center;
        height: 160px;
    }

    .footer-container__logo{
        display: none;
    }

    .footer-container__footer-icon-container{
        height: 50%;
        width: 80%;
        justify-content: space-between;
        box-sizing: border-box;
        border-bottom:1px solid #E5E5E5; 
    }

    .footer-container__academy-container{
        height: 50%;
        display: flex;
        width: 80%;
        justify-content: space-between;
    }
}  
@media (min-width: 768px) {
    .footer-container{
        flex-direction: row;
        height: 143px;
    }

    .footer-container__logo{
        width: 105px;
        margin-left: 30px;
    }

    .footer-container__footer-icon-container{
        width: 158px;
        margin-left: 11%;
    }

    .footer-container__academy-container{
        width: 190px;
        margin-right: 30px;
    }   
}
@media (min-width: 1200px) {
    .footer-container{
        flex-direction: row;
        height: 143px;
        padding-left: 40px;
        padding-right: 40px;
        margin-top: 50px;
    }

    .footer-container__logo{
        width: 105px;
        margin-left: 0;
    }

    .footer-container__footer-icon-container{
        width: 140px;
    }

    .footer-container__academy-container{
        width: 190px;
        margin-right: 0;
    }
}