.review-text-box-wrapper{
    display: flex;
    flex-direction: column;
}

.review-text__login-wrapper{
    display: flex;
    flex-direction: column;
    height: 44px;
}

.review-text-box__text{
    width: 100%;
}

@media (max-width: 767px) { 
    .review-text-box__main-title{
        padding-left: 1%;
    }
    .review-text-box__text{
        margin-top: 30px;
    }
    .review-text__login-wrapper{
        margin-top: 30px;
    }
}

@media (min-width: 768px) {
    .review-text-box__main-title{
        padding-left: 1%;
    }
    .review-text-box__text{
        margin-top: 66px;
    }
    .review-text__login-wrapper{
        justify-content: space-between;
        margin-top: 32px;
        
    }
}

@media (min-width: 1200px) {
    .review-text-box__main-title{
        padding-left: 1%;
    }
    .review-text-box__text{
        margin-top: 66px;
        width: 760px;
    }
    .review-text__login-wrapper{
        justify-content: space-between;
        margin-top: 22px;
        height: 44px;
    }
}