.hit-box-wrapper{
    position: relative;
    display: flex;
}

.hit-box-title{
    display: flex;
    flex-direction: row;
}

.hit-box-text-container{
    display: flex;
}

.hit-box-text-wrapper{
    display: flex;
    flex-direction: column;
}

.green-paragraph-index-small{
    color: #63D1BB;
    font-size: 16px;
    font-family: "OpenSans-Bold";
    text-transform: uppercase;
    line-height: 1;
}

.small-hit-image-wrapper{
    margin-bottom: 35px;
}

@media (max-width: 767px) {    
    .hit-box-wrapper{
        position: relative;
        flex-direction: column;
        align-self: center;
        align-items: center;
        width: 80%;
        margin-bottom: 100px;
    }

    .hit-box-title{
        position: relative;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 35px;
    }

    .hit-box-text-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 228px;
        width: 100%;
        flex-grow: 1;
        margin-bottom: 40px;
    }
    .zig-zag-container--small{
        position: absolute;
        top: 880px;
        left: -35.5%;
        width: 161%;
    }
}

@media (max-width: 456px) {
    .hit-box-text-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 250px;
        width: 100%;
        flex-grow: 1;
        margin-bottom: 40px;
    }
}

@media (min-width: 768px) {
    .hit-box-wrapper{
        flex-direction: column;
        align-self: center;
        width: 93%;
        margin-bottom: 40px;
    }

    .hit-box-title{
        position: relative;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 60px;
    }

    .hit-box-text-container{
        justify-content: space-between;
        height: 404px;
        flex-grow: 1;
    }

    
    .hit-box-text-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 404px;
        width: 300px;
        margin-right: 40px;
        flex-grow: 1;
    }

    .zig-zag-container--mid{
        margin-top: 60px;     
    }
}

@media (min-width: 1200px) {
    .hit-box-wrapper{
        flex-direction: column;
        width: 93%;
    }

    .hit-box-main-box{
        border: 1px solid red;
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .hit-box-title{
        position: absolute;
        top: 55px;
        left: 45px;
        justify-content: space-between;
        align-items: center;
        width: 650px;
    }

    .hit-box-text-container{
        justify-content: flex-end;
        height: 636px;
        flex-grow: 1;
    }

    
    .hit-box-text-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: flex-end;
        height: 467px;
        max-width: 335px;
        margin-right: 50px;
    }

    .zig-zag-container--big{
        margin-top: 70px;     
    }
}