.index-item-box-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

@media (max-width: 767px) {    
    .index-item-box-wrapper {
        min-height: 90px;
        max-height: 100px;
        margin-bottom: 30px;
        width: 100%;
    }
  }

  @media (min-width: 768px) {
    .index-item-box-wrapper {
        height: 100px;
        width: 49%;
        margin-bottom: 60px;
    }
  }

  @media (min-width: 1200px) {
    .index-item-box-wrapper {
        height: 100px;
        width: 331px;
        margin-bottom: 60px;
    }
  }
  