.check-box-container{
    border: 1px solid red;
    width: 200px;
    display: flex;
}

.check-box-wrapper{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 50px;
    width: 50px;
}

.check-box-wrapper:hover{
    border: 2px solid #62D1BA;
}

.label-wrapper{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
