.catalog__shop-items{
    display: flex;
    justify-content: space-between;
}


@media (max-width: 767px) {    
    .catalog__shop-items{
        flex-direction: column;
        align-items: center;
    }
  }

  @media (min-width: 768px) {
    .catalog__shop-items{
        margin-top: 80px;
        flex-direction: column;
        align-items: center;
    }
  }

  @media (min-width: 1200px) {
    .catalog__shop-items{
        margin-top: 130px;
        flex-direction: row;
    }
  }