.green-card-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    padding: 30px;
}

@media (max-width: 767px) {    
    .green-card-wrapper{
        padding: 30px 10%;
    }
  }