
.contact-box-wrapper{
    display: flex;

    border: 1px solid red;
}

.contacts-container{
    
    border: 1px solid green;
}
.contacts-title-container{
}
.contacts-email-container{
    border: 1px solid black;

}
.contacts-adress{
    border: 1px solid red;
}
                .contacts-adress__text-value{
                    
                }
.contacts-button{

}

.contacts-additional-wrapper{
    display: flex;
    align-self: center;
    border: 1px solid green;
}

.contact-box__image-imitation{
    border: 1px solid black;
}

@media (max-width: 767px) { 
    .contact-box-wrapper{
        align-self: center;
        flex-direction: column;
        width: 80%;
    }

    .contacts-title-container{
        display: flex;  
        align-self: center;
        margin-top: 60px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        border: 1px solid red;
    }

    .contacts-email-container,
    .contacts-adress {
        display: flex;
        justify-content: space-between;  
        align-self: flex-start;
        width: 100%;
        margin: 40px 0 0 0;
        box-sizing: border-box;
    }

    .contacts-button{
        margin: 40px 0 40px 0;
        align-self: center;
    }

    .contacts-additional-wrapper{
        justify-content: space-around;
        width: 100%;
        flex-direction: column;
    } 

    .contact-box__image-imitation{
        margin-top: 40px;
        height: 457px;
    }
}

@media (min-width: 768px) {
    .contact-box-wrapper{
        flex-direction: column;
        width: 100;
    }

    .contacts-title-container{
        display: flex;  
        align-self: center;
        margin-top: 60px;
        width: 90%;
        justify-content: space-between;
        align-items: center;
        border: 1px solid red;
    }

    .contacts-email-container,
    .contacts-adress {
        display: flex;
        justify-content: space-between;  
        align-self: center;
        width: 260px;
        margin: 50px 0 50px 0;
        box-sizing: border-box;
    }

    .contacts-button{
        margin: 50px 0 50px 0;
        align-self: center;
    }

    .contacts-additional-wrapper{
        justify-content: space-around;
        width: 90%;
    }    

    .contact-box__image-imitation{
        height: 457px;
    }
}

@media (min-width: 1200px) {
    .contact-box-wrapper{
        align-self: center;
        height: 456px;
        width: 93%;
    }

    .contacts-container{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .contacts-title-container{
        display: flex;  
        align-self: center;
        margin-top: 60px;
        width: 380px;
        justify-content: space-between;
        align-items: center;
        border: 1px solid red;
    }

    .contacts-email-container,
    .contacts-adress {
        display: flex;
        justify-content: space-between;  
        align-self: center;
        width: 380px;
        padding-left: 110px;
        margin-top: 50px;
        box-sizing: border-box;
    }

    .contacts-button{
        margin-top: 90px;
        align-self: center;
    }

    .contact-box__image-imitation{
        width: 523px;
    }
}