.main-wrapper{
    border: 1px solid blue;
}

@media (max-width: 767px) {    
    .main-wrapper{
        width:320px;
    }
  }

  @media (min-width: 768px) {
    .main-wrapper{
        width:768px;
    }
  }

  @media (min-width: 1200px) {
    .main-wrapper{
        width:1200px;
    }
  }