.verdana-text{
    font-family: "Verdana";
    color:red;
    font-size: 10px;
    margin: 0;
    padding: 0;
}

.verdana-text--bold{
    font-family: "Verdana-Bold";
}

/* RegularAdditionalParagraph */ 

.verdana-text--regular-additional-paragraph{
    font-size: 14px;
    color: rgb(68, 68, 68);
    line-height: 1.714;
}

/* BoldAdditionalParagraph */

.verdana-text--bold-additional-paragraph{
    font-size: 14px;
    color: rgb(0, 0, 0);
    line-height: 1.714;
    opacity: 1;
    transition: .2s;
    cursor: pointer;
}

.verdana-text--bold-additional-paragraph:hover{
    opacity: 0.6;
}

.verdana-text--bold-additional-paragraph:hover{
    opacity: 0.4;
}

/* FormTextInputField */

.verdana-text--form-name-field-label{
    font-size: 19px;
    line-height: 1;
    color: rgb(0, 0, 0);
}

/* TextAreaFormComponent */

.verdana-text--textarea{
    font-size: 19px;
    line-height: 1;
    color: rgb(0, 0, 0);
}

/* ParagraphForItemsInTitle */

.verdana-text--paragraph-index-items{
    font-size: 19px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.2;
}

@media (max-width: 767px) {
    .verdana-text--paragraph-index-items{
        font-size: 16px;
        color: rgb(0, 0, 0);
        font-weight: bold;
        line-height: 1.2;
    }
} 

/* ParagraphForCards */

.verdana-text--paragraph-card{
    font-size: 16px;
    color: rgb(0, 0, 0);
    line-height: 1.333;
    opacity: 1;
    transition: .2s;
}
  
.verdana-text--paragraph-card:hover{
    opacity: 0.6;
}