.review-form-layout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.review-form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
    z-index: 2;
    cursor: pointer;
    animation: fadeInOverLay .8s ease-in-out both;
}

.review-form-wrapper {
    position: fixed;
    border: 3px solid #62D1BA;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    z-index: 3;
    animation: fadeIn .4s .8s ease-in-out both;
}

.review-form__field {
    height: 55px;
    width: 90%;
    border: 1px solid black;
    padding-left: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}

.review-form__textarea {
    border: 1px solid black;
    border-radius: 10px;
    width: 90%;
    height: 260px;
    box-sizing: border-box;
}

.review-form__button {
    width: 90%;
}

@media (max-width: 767px) {
    .review-form-wrapper {
        width: 90%;
        height: 500px;
        padding: 20px 10px;
    }
    .review-form__field {
        height: 65px;
    }
}

@media (min-width: 768px) {
    .review-form-wrapper {
        width: 480px;
        height: 560px;
    }
}

@media (min-width: 1200px) {
    .review-form-wrapper {
        width: 480px;
        height: 560px;
    }
}