.button-write-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid black;
    transition: .5s;
}

.button-write-wrapper:hover{
    background-color: #444444;
}

.button-write-wrapper:active{
    background-color: #444444;
}

.button-write-wrapper:hover .text-button{
    color: #fff;
}

.button-write-wrapper:active .text-button{
    color: #fff;
    opacity: 0.3;
}

@media (max-width: 767px) {
    .button-write-wrapper{
        height: 50px;
        width: 100%;
    }
}
@media (min-width: 768px) {
    .button-write-wrapper{
        height: 50px;
        width: 175px;
    }
}
@media (min-width: 1200px) {
    .button-write-wrapper{
        height: 50px;
        width: 175px;
    }
}