.radio-box-container{
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-box-wrapper{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 50px;
    width: 50px;
}

.radio-box-wrapper:hover{
    border: 2px solid #62D1BA;
}

.label-wrapper-radiobox{
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
}

.check-box-wrapper{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 50px;
    width: 50px;
}