.bold-paragraph{
    font-size: 16px;
    font-family: "Verdana-Bold";
    color: rgb(0, 0, 0);
    line-height: 1.5;
    margin: 0;
    padding: 0;
    transition: .2s;
}

.bold-paragraph:hover{
    opacity:0.6;
}

.bold-paragraph:active{
    opacity:0.4;
}