.text-email-contact{
    font-size: 16px;
    font-family: "OpenSans";
    color: rgb(68, 68, 68);
    line-height: 1.875;
    margin: 0;
    padding: 0;
    transition: .5s;
    cursor: pointer;
}

.text-email-contact:hover {
    color: #77D2C4;
}

@media (max-width: 767px) {
    .text-email-contact{
        font-size: 15px;
        line-height: 1.5;
    }
}