.small-header__nav{
    display: flex;
    flex-direction: column;
}

.small-header__small-header-logo-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.small-header__zoom-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.zoom-wrapper__zoom-icon{
    position: absolute;
    top: 3px;
    left: -50px;
}

.zoom-wrapper__zoom-text{
    display: flex;
    position: relative;
}

.small-header-logo-wrapper__menu-icon{
    position: absolute;
    top: 32px;
    right: 50px;
    cursor: pointer;
    animation: curcleIn .5s ease-in-out both;
}

.small-header-logo-wrapper__cross-icon{
    display: none;
    position: absolute;
    top: 32px;
    right: 50px;
    cursor: pointer;
    animation: curcleIn .6s ease-in-out both;
}

.small-menu-wrapper{
    display: none;
}

.small-header__catalog-title,
.small-header__catalog-title,
.small-header__knitting-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-header__small-header-logo-wrapper{
    border-top: 1px solid #ECECEC;
}

.small-header__small-header-logo-wrapper,
.small-header__catalog-title,
.small-header__catalog-title,
.small-header__knitting-title,
.small-header__zoom-wrapper,
.small-header__basket-wrapper {
    border-bottom: 1px solid #ECECEC;
}

.small-header__basket-wrapper {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ECECEC;
}

.small-header__small-header-logo-wrapper,
.small-header__catalog-title,
.small-header__catalog-title,
.small-header__knitting-title,
.small-header__zoom-wrapper,
.small-header__basket-wrapper {
    height: 80px;
}

.small-menu-wrapper--opened{
    display: block;
    animation: openIn 1s ease-in-out forwards;
}

.small-header__catalog-title{
    display: none;
}

.small-header__knitting-title{
    display: none;
}

.small-header__zoom-wrapper{
    display: none;
}

.small-header__basket-wrapper{
    display: none;
}

.small-menu-wrapper--opened .small-header__catalog-title{
    display: flex;
    animation: fadeIn .3s ease-in-out both;
}

.small-menu-wrapper--opened .small-header__knitting-title{
    display: flex;
    animation: fadeIn .3s ease-in-out 0.3s both;
}

.small-menu-wrapper--opened .small-header__zoom-wrapper{
    display: flex;
    animation: fadeIn .3s ease-in-out 0.6s both;
}

.small-menu-wrapper--opened .small-header__basket-wrapper{
    display: flex;
    animation: fadeIn .3s ease-in-out 0.9s both;
}

@keyframes fadeIn {
    from { 
        opacity: 0;
     }
    to { 
        opacity: 1;
     }
   }

   @keyframes openIn {
    from { 
        opacity: 0;
        height: 0;
     }
    to { 
        opacity: 1;
        height: 100%;
     }
   }

   @keyframes curcleIn {
    from { 
        opacity: 0;
        transform: rotate(90deg)
     }
    to { 
        opacity: 1;
        transform: rotate(0deg)
     }
   }

   @keyframes curcleOut {
    from { 
        opacity: 1;
        transform: rotate(0deg)
     }
    to { 
        opacity: 0;
        transform: rotate(90deg)
     }
   }