.item-card__price-box{
    display: flex;
}

@media (max-width: 767px) {      
    .item-card__price-box{
        align-items: center;
        justify-content: space-between;
        width: 205px;
        height: 73px;
    }
    .paragraph-card{
        padding-top: 24px;
        padding-bottom: 8px;
    }
  }

  @media (min-width: 768px) {
    .item-card__price-box{
        justify-content: space-between;
        align-items: center;
        width: 268px;
        height: 73px;
    }
    .paragraph-card{
        padding-top: 31px;
        padding-bottom: 8px;
    }
  }

  @media (min-width: 1200px) {
    .item-card__price-box{
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
        width: 268px;
        height: 73px;
    }
    .paragraph-card{
        padding-top: 25px;
        padding-bottom: 5px;
    }
  }