.item-card__price-box{
    display: flex;
    border: 1px solid red;
}

@media (max-width: 700px) {    
    .item-card__price-box{
        align-items: center;
        justify-content: space-between;
        width: 205px;
        height: 73px;
    }
    .paragraph-card{
        padding-top: 35px;
        padding-bottom: 22px;
    }
  }

  @media (min-width: 701px) {
    .item-card__price-box{
        justify-content: space-between;
        align-items: center;
        width: 268px;
        height: 73px;
    }
    .paragraph-card{
        padding-top: 31px;
        padding-bottom: 23px;
    }
  }

  @media (min-width: 1001px) {
    .item-card__price-box{
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
        width: 268px;
        height: 73px;
    }
    .paragraph-card{
        padding-top: 34px;
        padding-bottom: 23px;
    }
  }