.middle-header-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 375px;
}

.middle-header__first-line-header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ECECEC;
}

.middle-header__rigth-container{
    display: flex;
    height: 100%;
}

.first-line-middle-header__zoom-wrapper{
    display: flex;
    justify-content: flex-end;
    width: 150px;
}

.first-line-middle-header__zoom-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    border-left: 1px solid #ECECEC;
    border-right: 1px solid #ECECEC;
}

.first-line-middle-header__logo,
.first-line-middle-header__basket-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
}

.first-line-middle-header__logo{
    margin-left: 25px;
}

.middle-header__second-line-header{
    display: flex;
    justify-content: space-between;
    height: 70px;
    z-index: 2;
}

.middle-header__first-container{
    display: flex;
    height: 100%;
}
.middle-header__second-container{
    display: flex;
    height: 100%;
}

.second-line-middle-header__catalog-title,
.second-line-middle-header__knitting-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 145px;
}

.second-line-middle-header__catalog-title{
    margin-left: 20px;
}

.second-line-middle-header__knitting-title{
    margin-left: 21px;
}

.second-line-middle-header__delivery-info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 70px;
    margin-right: 20px;
}

.middle-header-wrapper--index{
    height: 160px;
}
