.big-header-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
    height: 390px;
}

.first-line-big-header__zoom-wrapper{
    display: flex;
    justify-content: flex-end;
    width: 150px;
}
.first-line-big-header__zoom-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    border-left: 1px solid #ECECEC;
    border-right: 1px solid #ECECEC;
    z-index: 2;
}

.big-header__first-line-big-header{
    border-bottom:  1px solid #ECECEC;
}

.first-line-big-header__catalog-title,
.first-line-big-header__knitting-title,
.first-line-big-header__logo,
.first-line-big-header__basket-wrapper,
.second-line-big-header__new-items,
.second-line-big-header__discount,
.second-line-big-header__delivery-info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
}

.big-header__first-line-big-header{
    display: flex;
    justify-content: space-between;
    height: 340px;
}

.first-line-big-header__basket-wrapper,
.first-line-big-header__logo{
    height: 100%;
}

.first-line-big-header__catalog-title,
.first-line-big-header__knitting-title {
    height: 100%;
    width: 230px;
}

.first-line-big-header__catalog-title{
    height: 100%;
    border-right: 1px solid #ECECEC;
}

.big-header__second-line-header{
    display: flex;
    justify-content: flex-start;
    height: 200px;
    z-index: 2;
}

.second-line-big-header__new-items,
.second-line-big-header__discount{
    width: 200px;
    height: 100%;
}

.second-line-big-header__new-items{
    margin-left: 20px;
}

.second-line-big-header__discount{
    margin-left: 25px;
}

.second-line-big-header__delivery-info{
    width: 250px;
    height: 100%;
    margin-left: 469px;
}

.big-header-wrapper--index{
    height: 160px;
}